{{!-- Display every task with their count and a delete button --}}
<div class="row">
  <div class="col s12">
	<ul class="collection">
	  <li >
	    <div id="task-input" class="collection-item">{{ description }}</div>

		<button class="btn waves-effect bgrnd remove-task" name="action" text="Delete" data-id="{{ id }}">
		  Delete
		</button>

		<i class="material-icons right"></i>
		  Progress Count: <span id="counter-{{ id }}">{{ count }}</span>
	  </li> 
	</ul>  
  </div>
</div>
		