
 <main class="content">
   

<nav class="#ef5350 red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Task Ya Later!</a>
     
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"></i></a>
    </div>
  </nav>
  <br>
  <br>
 
  <!-- CREATE LIST -->
  <div class="container">
    <div class="container #ffcdd2 red lighten-4">
      <div class="row">
        <form id="create-list">
          <div class="input-field col s9">
            <label for="text-area">New List</label>
            <textarea class="materialize-textarea #ffffff white" type="text" id="list-item" name="newList" ></textarea>
          </div>
          <div class="input-field col s3">
            <button class="btn waves-effect #4a148c purple darken-4" type="submit">Add List
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="container">
    {{#each lists }}
      {{> lists/user-list}}
    {{/each }}
  </div>

<script>
// CREATE LIST
const createListBtn = document.getElementById("create-list");

createListBtn.addEventListener("submit", event => {
  event.preventDefault();

  const newList = {
    title: document.getElementById("list-item").value.trim()
  };

  console.log(newList);

  fetch("/api/lists", {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json"
    },
    body: JSON.stringify(newList)
  }).then(() => {
    // Empty the form
    document.getElementById("list-item").value = "";

    console.log("New task created");

    // Reloads the page to see added task
    location.reload();
  });
});

// CREATE TASK
const createTaskBtn = document.getElementById("create-task");

createTaskBtn.addEventListener("submit", event => {
  event.preventDefault();

  const newTask = {
    description: document.getElementById("task-item").value.trim(),
    // TO DO: Replace "1" with - event.target.getAttribute("data-id");
    // data-id needs to be assigned to submit button
    // data-id value will come from an #each that grabs the id of the list
    ListId: event.target.getAttribute("data-id")
  };

  console.log("listId assignment: ", event.target.getAttribute("data-id"))
  console.log(newTask);

  fetch("/api/tasks", {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json"
    },
    body: JSON.stringify(newTask)
  }).then(() => {
    // Empty the form
    document.getElementById("task-item").value = "";

    console.log("New task created");

    // Reloads the page to see added task
    // location.reload();
  });
});

// DELETE LIST
const deleteListBtns = document.querySelectorAll(".remove-list");

deleteListBtns.forEach(button => {
  button.addEventListener("click", e => {
    const id = e.target.getAttribute("data-id");
    console.log("Delete List at ID: ", id);

    fetch(`/api/lists/${id}`, {
      method: "DELETE"
    }).then(res => {
      console.log(res);
      console.log(`Deleted List ID: ${id}`);

      // Reload the page
      if (res.ok) {
        console.log("List Deleted!")
        // location.reload();
      }
    });
  });
});

// DELETE TASK
const deleteTaskBtns = document.querySelectorAll(".remove-task");

deleteTaskBtns.forEach(button => {
  button.addEventListener("click", e => {
    const id = e.target.getAttribute("data-id");
    console.log("Delete Task at ID: ", id);

    fetch(`/api/tasks/${id}`, {
      method: "DELETE"
    }).then(res => {
      console.log(res);
      console.log(`Deleted Task ID: ${id}`);

      // Reload the page
      if (res.ok) {
        console.log("Task Deleted!")
        // location.reload();
      }
    });
  });
});

</script>
</ul>
