
<main class="content">
  <nav class="#ef5350 red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Task Ya Later!</a>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"></i></a>
    </div>
  </nav>
  <br>
  <br>
{{!-- messenger --}}
<div class="container #ffcdd2 red lighten-4">
  <div class="row">
    <div class="col s9">
      <form id="">
        <div class="input-field col s9">
        <label for="text-area">Message Here</label>
        <textarea class="materialize-textarea #ffffff white" type="text" id="" name="" ></textarea>
        </div>
        <div class="input-field col s3">
        <button class="btn waves-effect #4a148c purple darken-4" type="submit">Send Message
        </button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<br>
  
  <!-- CREATE LIST -->

  <div class="container #ffcdd2 red lighten-4">
    <div class="row">
      <div class="col s9">
        <form id="create-list">
          <div class="input-field col s9">
          {{!-- <label for="text-area">New List</label>            --}}
          <textarea class="materialize-textarea #ffffff white" type="text" id="list-item" name="newList" ></textarea>
          </div>
          <div class="input-field col s3">
          <button class="btn waves-effect #4a148c purple darken-4" type="submit">Add List
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>

 
  <br>
  <br>
  
  <!-- The Task Card -->
  <div class="container">
    {{#each lists }}
      {{> lists/user-list}}
    {{/each }}
  </div>
   
 

<script src="/js/index.js"></script>