<main class="content-student">
<nav class="#ef5350 red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Task Ya Later!</a>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"></i></a>
    </div>
  </nav>
  <br>
  <br>

<!-- CREATE LIST -->


<div class="container">
  <div class="container #ffcdd2 red lighten-4">
    <div class="row">
      <form id="task-list">
        <div class="col s6">
          <p id="create-list" class="flow-text">Created List</p>
        </div>
        <div class="row">
          <div class="col s9">
            <ul class="collection">
              <li id="task-input" class="collection-item">
                <p>#1 First Task to complete
                </p> 
              </li> 
            </ul>  
          </div>
         <br>
        <div class="input-field col s3">
           {{!-- TO DO: Change id value to be the id of task --}} 
           <div><h5 id="counter"></h5></div>
           <button class="btn waves-effect #4a148c purple darken-4 change-count" type="submit" data-id="1">Complete
          </button>
        </div>
       </form>
     </div>
  </div>
 </div>
</main>
<script src="/js/student-view.js"></script>
