<main class="content-student">
  <nav class="#ef5350 red lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Task Ya Later!</a>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"></i></a>
    </div>
  </nav>

  <br>
  <br>

  {{!-- MESSENGER --}}
   {{!-- <ul id="messages"></ul> --}}
   </div>
   <br>
    <ul id="slide-out" class="side-nav fixed">
 <div class="container #ffcdd2 red lighten-4">
      <div id="message-box"  class="row right-align">
        <div class="col s9 right-align">
          <form id="">
            <div class="input-field col s9">
            <label for="text-area">messenger</label>
           
            <textarea class="materialize-textarea #ffffff white" type="text" id="" name="" ></textarea>
            </div>
            <div class="input-field col s3">
            <button class="btn waves-effect #4caf50 green" type="submit">submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </ul>

	<div class="container #ffcdd2 red lighten-4">
    <div class="row">
    	<div class="col s6">
    		<p id="create-list" class="flow-text">{{ lists.title }}</p>
			    	{{#each lists.tasks }}
       				{{> tasks/student-task}}
      			{{/each }}
      </div>		
    </div>
  </div>
  
  <br>
  <br>
</main>
<script src="/js/student-view.js"></script>
