* {
  font-family: 'Righteous', cursive;
}

form.signup,
form.login {
  margin-top: 50px;
}

.input-field label {
  color: rgba(254, 254, 254, 0.948);
}

div.row {
  margin-bottom: 0px;
}

.no-shadows {
  box-shadow: none!important;
}

.brand-logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* NAV BAR */
#container {
  padding-left: 300px;
}

#content {
  padding: 20px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}

/* BACKGROUND IMAGE */
main.content-login { 
  background: url(../images/background_still_gradient-color.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

main.content { 
  background: url(../images/admin_background_still_gradient-color.jpg) no-repeat center center fixed; 
  /* background: repeat-y url(../images/admin_background_still_gradient-color.jpg); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100vh; */
  width: 100vw;

}
main.content-student { 
  background: url(../images/user_background_still_gradient-color.jpg) no-repeat center center fixed; 
  /* background: repeat-y url(../images/admin_background_still_gradient-color.jpg); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

.col-md-6 {
  background-color: whitesmoke;
}

.square {
  height: 35px;
  width: 35px;
  background-color: #00695c;
}

.messenger-container {
  width: 650px;
}

#message-log {
  width: 100%;
  height: 150px;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
}

#messages {
  margin-left: 10px;
}

#type {
  margin-top: 5px;
}

li {
  font-size: 20px;
}

button {
  border-radius: 20px !important;
  background-color: #7d5150 !important;
}

.bgrnd {
  background-color: #7d5150 !important;
}

.list-titles {
  padding: 10px 0px 0px 22px;
}

.student-container {
  width: 50% !important;
}

.student-messenger {
  width: 60% !important;
}