{{!-- Display every list with a create task btn and a delete btn that have a data-id value that corresponds to the list's id --}}
<li>
	{{title}}
	<button data-id="{{id}}">
		Add Task
	</button>
	<button class="remove-list" data-id="{{id}}">
		Delete List
	</button>
</li>